body { margin: 0;}
img { max-width: 100%; }
a { text-decoration: none; }
html { box-sizing: border-box; }

*, *::before, *::after { box-sizing: inherit; }

.visually-hidden {
  position: absolute;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* Main button style */

.button {
  display: inline-block;

  border-radius: 2px;
  background-color: #ee3643;
  color: #ffffff;

  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;

  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  padding: 12px;
}

/* Section info head style */

.section-info {
  background-color: #f9f5f0;
}

.section-info__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
  text-transform: uppercase;
  color: #32425c;
}

.section-info-btn {
  width: 253px;
}

/* Fonts */

@font-face {
  font-family: "Cuprum";
  src: url("../fonts/cuprum.woff") format("woff"), url("../fonts/cuprum.woff2") format("woff2");
}
@font-face {
  font-family: "Cuprum bold";
  src: url("../fonts/cuprumbold.woff") format("woff"), url("../fonts/cuprumbold.woff2") format("woff2");
}
@font-face {
  font-family: "Cuprum bold italic";
  src: url("../fonts/cuprumbolditalic.woff") format("woff"), url("../fonts/cuprumbolditalic.woff2") format("woff2");
}
@font-face {
  font-family: "Cuprum italic";
  src: url("../fonts/cuprumitalic.woff") format("woff"), url("../fonts/cuprumitalic.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans";
  src: url("../fonts/ptsans.woff") format("woff"), url("../fonts/ptsans.woff2") format("woff2");
}
@font-face {
  font-family: "PT Sans bold";
  src: url("../fonts/ptsansbold.woff") format("woff"), url("../fonts/ptsansbold.woff2") format("woff2");
}

/* Header start */
.main-header {
  font-family: cuprum, Arial, sans-serif;
  background-color: #f3f7f9;
  min-height: 320px;
  display: flex;
  align-items: center;
  flex-direction: column;
}

.top-menu-row1,
.top-menu-row2,
.top-menu-row3{
  width: 940px;
  display: flex;
  align-items: center;
}

.top-menu-row1 {
  position: relative;
  min-height: 42px;
  justify-content: flex-end;
}

.top-menu {
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
  width: 100%;

  display: flex;
  justify-content: center;
}

.main-logo {
  width: 220px;
  position: absolute;
  left: 0;
  top: 0;
}

.menu-search {
  display: flex;
  flex-direction: row-reverse;

  width: 270px;
  height: 42px;
  position: relative;
}

.menu-search__field {
  background-color: transparent;
  border: none;
  width: 100%;
  padding-left: 50px;

  color: #ffffff;
}

.menu-search__field::placeholder {
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  font-weight: normal;
}

.menu-search__btn {
  position: absolute;
  left: 15px;
  top: 12px;
  font-size: 0;
  width: 18px;
  height: 18px;
  border: none;
  background: url('../img/svg/icon-search.svg') no-repeat center center;
  opacity: 0.3;
}

.client-navigation__items {
  display: flex;
  flex-wrap: wrap;
  list-style: none;
  width: 450px;

  padding: 0;
  margin: 0;
}

.client-navigation__btn {
  display: inline-block;
  color: #ffffff;
  text-decoration: none;
  text-transform: none;
  text-align: center;
  width: 150px;
  height: 42px;
  line-height: 42px;
  padding-left: 15px;
  margin: 0;
  position: relative;
}

.client-navigation__marker::before,
.client-navigation__cart::before {
  content: "";
  display: inline-block;
  width: 17px;
  height: 17px;
  opacity: 0.3;

  position: absolute;
}

.client-navigation__marker::before {
  left: 15px;
  top: 11px;
  background: url(../img/svg/icon-bookmark.svg) no-repeat center center;
}

.client-navigation__cart::before {
  left: 15px;
  top: 11px;
  background: url(../img/svg/icon-cart.svg) no-repeat center center;
}

.client-navigation__order {
  background-color: #63a63e;
  padding: 0;
}

.top-menu-row2 {
  min-height: 113px;
  justify-content: flex-end;
  align-items: flex-start;
  margin-top: 45px;
}

.site-descr {
  font-family: "Cuprum italic", "Arial", sans-serif;
  font-size: 16px;
  line-height: 23px;
  font-weight: normal;

  padding: 3px 0;
  margin: 0;

  color: #ee3643;
}

.menu-contacts {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-left: 70px;
}

.menu-contacts__tel {
  display: inline-block;

  width: 270px;
  height: 45px;
  padding-left: 20px;
  margin-bottom: 5px;

  text-align: center;
  line-height: 40px;
  font-size: 21px;
  color: #ee3643;

  box-sizing: border-box;
  border: 3px solid #ffffff;

  position: relative;
}

.menu-contacts__tel::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 10px;
  left: 10px;
  background: url('../img/svg/icon-phone.svg') no-repeat center center;
}

.menu-contacts__arddress {
  font-family: "Cuprum", "Arial", sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: normal;
  font-style: normal;
  color: #32425c;
}

.userprofile-nav {
  width: 300px;
  text-align: right;

  font-size: 21px;
  line-height: 21px;

  margin-left: 50px;
}

.menu-userprofile__btn {
  display: inline-block;

  padding: 12px;
  margin-left: 5px;
  text-align: center;
  min-height: 45px;

  color: #000000;
  background-color: #ffffff;
}

.menu-userprofile__login {
  width: 120px;
  padding-left: 34px;
  position: relative;
}

.menu-userprofile__login::before {
  content: '';
  display: inline-block;
  width: 21px;
  height: 21px;
  position: absolute;
  top: 13px;
  left: 13px;
  background: url('../img/svg/icon-login.svg') no-repeat center center;
}

.menu-userprofile__reg {
  width: 150px;
}

.logged-in {
  width: 300px;
}

.userprofile-nav__items {
  list-style: none;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-decoration: underline;
}

.page-navigation {
  background-color: #32425c;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 17px;
  min-height: 55px;
  box-shadow: 0 5px 0 rgba(41, 52, 73, 1);
}

.page-navigation__items {
  width: 940px;
  min-height: 55px;
  list-style: none;
  margin: 0;
  padding: 0 22px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-around;
  align-content: center;
}

.page-navigation__btn {
  display: inline-block;
  text-decoration: none;
  line-height: 55px;
  color: #ffffff;
  height: 55px;
  padding: 0 30px;
  margin: 0;
}
/* Header end */

/* Main sections start*/
/* Breadcrumbs */
.catalog-title-info .section-info__title{
  background-color: #f2f6f8;
}

.breadcrumbs {
  list-style: none;
  text-decoration: none;
  text-transform: uppercase;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
}

.breadcrumbs a {
  color: #000000;
}
/* Breadcrumbs end*/

/* Catalog sort menu */

.catalog-sort-menu,
.catalog-sort-title  {
  background-color: #f7f3ec;
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.catalog-sort-title {
  font-weight: normal;
}

.sort-type-btn {
  color: rgba(0, 0, 0, .3);
}

.sort-btn-current {
  color: #ee3643;
}

.sort-direction-btn {
  font-size: 0;
}
/* Catalog sort menu end */

/* Filters section */
.filter {
  text-transform: uppercase;
  color: #000000;
}

.filter-title {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
}

.filter-price .filter-title {
  background-color: #f7f3ec;
}

.filter-price {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 17px;
  line-height: 18px;
  border: none;
}

.filter-range-title{
  font-family: "PT Sans bold", "Arial", sans-serif;
}

.filter-price-option ul,
.filter-power ul{
  list-style: none;
}

.filter-button {
  width: 140px;
  background-color: transparent;
  border: 1px solid #e5e5e5;
  color: #000000;
}
/* Filters section end */

/* Offer section */
.offers-items {
  list-style: none;
}

.offers-item {
  width: 300px;
  min-height: 125px;
  background-color: #32425c;
}

.offers-item-title {
  font-family: "Cuprum bold", "Arial", sans-serif;
  font-size: 24px;
  line-height: 30px;
  font-style: normal;
  color: #ffffff;
}

.offers-btn {
  width: 135px;
  background-color: rgba(0, 0, 0, .1);
}

.offers-material {
  background-color: #ffbf47;
}

.offers-instrument {
  background-color: #3bbce3;
}

.offers-tech {
  background-color: #dc91d8;
}

.offers-dicount {
  background-color: #8ed78f;
}

.offers-delivery {
  background-color: #ffc047;
}

/* Slider start */
.slider-content {
  color: #ffffff;
  position: absolute;
}

.slider-title {
  font-family: "Cuprum bold", "Arial", sans-serif;
  font-size: 36px;
  line-height: 36px;
  text-transform: uppercase;
}

.slider-descr {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 24px;
}

.slider-btn {
  width: 195px;
}
/* Slider end */
/* Offer section end*/

/* Popular section*/
.catalog-item {
  border: 1px solid #eaeaea;
}

.catalog-item-title {
  font-family: "PT Sans bold", "Arial", sans-serif;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.catalog-item-price {
  display: inline-block;
  width: 140px;

  font-size: 17px;
  line-height: 18px;
  text-align: center;

  color: #ffffff;
  background-color: #ee3643;
  border-radius: 2px;
  padding: 12px;
}

.catalog-item-price--old-price {
  color: #a9a9a9;
  text-decoration: line-through;
  background-color: transparent;
}

.image-hover-btn {
  width: 135px;
  background-color: #63a63e;
}

.image-hover-btn-compare {
  width: 135px;
  padding: 9px;
  background-color: transparent;
  border: 3px solid #63a63e;
  color: #32425c;
}
/* Popular section end*/

/* Brands section*/
.brands-list {
  list-style: none;
}

.brands-logo {
  width: 220px ;
  height: 145px;
  border: 1px solid #eaeaea;
}

.brands-logo__image {
  display: block;
  height: 100%;
  position: relative;
}

.brands__image {
  position: absolute;
  margin: auto;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
}
/* Brands section end*/

/* Services section*/
.services {
  background-color: #f4f8fa;
}

.services-info .section-info__title{
  color: #000000;
}

.services-descr {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.services-btn {
  width: 240px;
  min-height: 65px;

  background-color: #32425c;
  color: #ffffff;

  text-align: left;
  padding-left: 22px;
  border: none;
  cursor: pointer;

  text-decoration: none;
  font-family: "Cuprum bold", "Arial", sans-serif;
  font-size: 21px;
  line-height: 30px;
}

.services-current {
  background-color: #ffffff;
  color: #32425c;
}

.services-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 36px;
  line-height: 36px;
  color: #32425c;
  text-transform: uppercase;
}

.services-descr {
  font-family: "PT Sans", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.service-—Åredit__btn {
  width: 195px;
}
/* Services section end*/

/* Information section*/

.information .section-info {
  background-color: #ffffff;
}

.information-title,
.contacts-title {
  color: #000000;
}

.information-descr,
. contacts-descr {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
  color: #000000;
}

.information-partners__item {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 20px;
  list-style: none;
}

.about-btn {
  width: 220px;
}

.contacts-btn {
  width: 300px;
}
/* Information section end*/

/* Catalog paginator*/
.paginator-pages {
  list-style: none;
  color: #000000;
}

.paginator-page,
.paginator__page-btn {
  display: inline-block;
  text-transform: uppercase;
  text-decoration: none;
  border: 1px solid #e5e5e5;
}

/* Catalog paginator end*/

/* Catalog service section*/
.catalog-service {
  background-color: #f2f6f8;
}

.catalog-service .section-info__title {
  color: #000000;
}

.catalog-service__info {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 24px;
}
/* Catalog service section end*/
/* Sections end*/


/* Footer start*/
.main-footer {
  background-color: #32425c;
  color: #ffffff;
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.footer-store-arddress {
  font-size: 18px;
  line-height: 24px;
}

.page-navigation-footer {
  background-color: transparent;
  font-size: 18px;
  line-height: 24px;
}

.page-navigation__items--yellow .page-navigation__btn{
  color: #ffd180;
}

.footer-bottom {
  background-color: #293449;
}

.footer-copywrite {
  font-size: 16px;
  line-height: 18px;
  font-style: normal;
}

.footer-social {
  display: inline-block;
  list-style: none;
  font-size: 0;
}

.feedback, .dev-info {
  font-size: 16px;
  line-height: 18px;
}

.feedback__email, .dev-info__email {
  color: #ffd180;
}
/* Footer end*/

/* Modal popup "write us" */
.write-us-wrapper {
  width: 640px;
  height: 430px ;
}

.form-field {
  border: none;
}

.form-field-title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 18px;
  line-height: 18px;
}

.form-write-field {
  font-family: "PT Sans", "Arial", sans-serif;
  font-size: 13px;
  line-height: 18px;
  padding: 12px 14px;
  border-color: #dee3e4;

  width: 220px;
}

.message-field {
  width: 460px;
}

.form-write-btn {
  width: 460px;
  border: none;
}
/* Modal popup end */

/* Modal popup "add to cart" */
.cart-item-add__title {
  font-family: "Cuprum", "Arial", sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 30px;
  line-height: 30px;
}

.cart-item-add__btn,
.cart-item-back__btn
{
  width: 220px;
}

.cart-item-back__btn {
  color: #000000;
  background-color: #ffffff;
}
/* Modal popup "add to cart" end*/
